<!-- Footer -->
<footer>
    <!-- Footer Widgets -->
    <div class="widgets-block padding paddv-60">
        <div class="container">
            <div class="row widgets">
                <div class="col-md-4">
                    <div class="widget widget-text">
                        <p>Wir freuen uns, dass Sie sich für unsere Dienstleistung interessieren und würden uns freuen, von Ihnen persönlich zu hören!</p>

                        <!-- Subscirbe MailChimp importand list id = (data-list_id="") -->
                        <div class="dev-newsletter">
                            <h2>Newsletter abonnieren</h2>
                            <form action="#" method="GET" data-list_id="5cdb4dac1a">
                                <div class="input-group">
                                    <input type="text" class="form-control" size="25" id="email" name="email" placeholder="name@domain.com">
                                    <span class="input-group-btn">
										    	<button class="btn btn-default" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
										  	</span>
                                </div>
                            </form>
                        </div>
                        <!-- End Subscribe MailChimp -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget widget-address">
                        <h2>So finden Sie uns</h2>
                        <p>
                            HAUPTBÜRO: <br>
                            Zentralstrasse 9, 6002 Luzern
                        </p>
                        <p>
                            <i class="fa fa-phone" aria-hidden="true"></i> 0800 345 678 <br>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> contact@investoohub.com
                        </p>

                        <p>
                            <i class="fa fa-calendar" aria-hidden="true"></i> Monday - Saturday: 8:00 Am - 18:00 Pm <br>
                            Sonntag: Geschossen
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget widget-contact">
                        <h2>Senden Sie uns eine Nachricht</h2>
                        <!-- Contact Widgets -->
                        <form class="contact-form" id="contact-form" method="post" action="./php/contact/contact.php">
                            <div class="form-group">
                                <input type="text" class="form-control" name="dev[name]" id="dev-name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="dev[email]" id="dev-email" placeholder="E-Mail ADresse">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="dev[message]" id="dev-message" placeholder="Nachricht eingeben"></textarea>
                            </div>
                            <button type="submit" class="devbtn">Abschicken</button>
                        </form>
                        <!-- End Contact Widgets -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Widgets -->
    <!-- Bottom Footer -->
    <div class="bottom-block padding paddv-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <p>Copyright &copy; 2016 <a href="#">investoohub AG</a>.  Alle Rechte vorbehalten</p>
                </div>
            </div>
        </div>
        <!-- End Bottom Footer -->
        <!-- Go Top -->
        <a href="#" id="gotop" class="gotop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <!-- End Go Top -->
    </div>
</footer>
<!-- End Footer -->