
    <!-- Header -->
    <header class="clearfix">
        <!-- Top Bar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="contact-us">
                            <li>
                                <a href="#">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    0800 345 678
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="contact-us contact-us-right">
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    info@investoohub.com
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->
        <!-- Menu Bar Navigation -->
        <div class="menubar">
            <div class="container">
                <div class="navbar">
                    <!-- Navbar Header -->
                    <div class="navbar-header">
                        <a class="navbar-brand clearfix" href="./index.html"><img alt="logo" src="assets/img/logo.png"></a>
                    </div>
                    <!-- End Navbar Header -->

                    <!-- Search & Hamburger Menu -->
                    <div class="collapsed-icons">
                        <ul>
                            <li>
                                <a class="search" href="#" id="trigger-overlay">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- End Search & Hamburger Menu -->

                    <!-- Navigation -->
                    <div class="navbar-collapse collapse navbar-right">
                        <ul class="navbar-nav nav">
                            <li><a href="./index.html">Home</a></li>
                            <li>
                                <a href="./investobjects.html">Investieren</a>
                            </li>
                            <li><a href="./contact.html">Kontakt</a></li>
                            <li><a href="./dashboard.html">Mein Dashboard</a></li>

                        </ul>
                    </div>
                    <!-- End Navigation -->
                </div>
            </div>
        </div>
        <!-- End Menu Bar Navigation -->
    </header>
    <!-- End Header -->


    <!-- ========== Responsive Menu ========== -->
    <div class="mobile-menu" id="mobile-menu">
        <a href="#" class="close-menu">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Navigations Widgets -->
            <div class="widgets widget-menu">
                <h2>Hauptmenu</h2>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li>
                        <a href="./investobjects.html">Investieren</a>
                    </li>
                    <li><a href="./contact.html">Kontakt</a></li>
                    <li><a href="./dashboard.html">Mein Dashboard</a></li>
                </ul>
            </div>
            <!-- End Navigation Widgets -->

            <!-- Text Widgets -->
            <div class="widgets text-widget">
                <h2>Über uns</h2>
                <p>Investieren Sie mit Investoohub.</p>
            </div>
            <!-- End Text Widgets -->
        </div>
        <!-- End Sidebar -->
    </div>
    <!-- ========== END Responsive Menu ========== -->

